.App {
  text-align: center;
  background-color: #e54b4b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.timer {
  background-color: #e54b4b;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: white;
}


button{
  border-width: 2px;
  border-radius: 15%;
  font-size: calc(10px + 1vmin);
  border-color: #e54b4b;

}

.button-bar{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.button-start {
  background-color: green;
  color: white
}

.button-stop {
  background-color: red;
  color: white
}

.button-reset {
  background-color: grey;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.interval-mod-form {
  background-color: #e54b4b;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Set-timer-form {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}


.interval-form-block {
  display:inline-block;
  margin: 5px;
}

.interval-form-block label {
  display:block;
}

.interval-form-block input {
  padding: 5px;
  margin: 5px 0;
}